.settings {
    .settings__notifications {
        .ant-form-item {
            display: flex;
        }
        .ant-form-item-label {
            width: 130px;
            text-align-last: left;
        }
    }
}