@import "../../styles/vars.scss";
.upload {
    &__form {
        &--button {
            margin: 15px 0;
            float: right;
        }
    }
    .ant-select-dropdown-menu-item:not(:empty) {
        border: 1px solid $gray;
        &:not(:last-child) {
            border-bottom: none;
        }
    }
    .ant-alert-error {
        margin-bottom: 20px;
    }
}