@import "../../styles/vars.scss";
.upload {
    &__form {
        max-width: 80%;
        margin: 0 auto;
        &--button {
            display: flex;
            margin: 30px 0 30px auto;
            align-items: center;
        }
    }
    .ant-select-dropdown-menu-item:not(:empty) {
        border: 1px solid $gray;
        &:not(:last-child) {
            border-bottom: none;
        }
    }
    .ant-alert-error {
        margin-bottom: 20px;
    }
}