.homePage {
    height: 100%;
    .topNav {
        display: flex;
        justify-content: space-between;
        width: 980px;
        max-width: 90%;
        margin: 10vh auto 0;
    }
    .logo {
        font-size: 36px;
        font-weight: bold;
        color: #4a6182;
    }
    .bars {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        padding: 0 0 10vh;
    }
    .bar {
        margin: 0 30px;
        font-size: 17px;
        font-weight: 100;
        opacity: 0.4;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &:hover,
        &:focus,
        &--active {
            opacity: 1;
            outline: none;
            .bar__step {
                width: 100%;
            }
        }
    }
    .bar__step {
        width: 20%;
        height: 3px;
        background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
        margin-top: 5px;
        transition: all 0.3s ease-in;
    }
    .instructionStep {
        max-width: 980px;
        margin: 15vh auto;
        animation: fadeIn 0.5s linear;
        transition: all 0.5s;
        &--hide {
            opacity: 0;
        }
    }
    .loginBtn {
        width: 150px;
    }
}

.ant-modal.loginModal {
    max-width: 400px;
    .ant-alert {
        margin-bottom: 10px;
    }
    .ant-form-item {
        margin-bottom: 10px;
    }
    .ant-form-item-label {
        line-height: 20px;
    }
    .ant-tabs-nav {
        width: 100%;
        text-align: center;
    }
    .ant-tabs-tab {
        margin: 0 !important;
        width: 50%;
        padding: 15px 0;
    }
    .ant-modal-body {
        padding: 0;
    }
    .ant-modal-close {
        right: -12px;
        top: -12px;
        background: #fff;
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }
    span.ant-modal-close-x {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 11px;
        font-weight: bold;
    }
    .ant-form {
        padding: 10px 25px 15px;
    }
    .authButton {
        display: flex;
        flex-direction: column;
        padding: 0 25px 25px;
    }
    .authButton button {
        position: relative;
        margin-bottom: 10px;
        padding: 0 15px 0 46px;
        border: none;
        text-align: left;
        line-height: 34px;
        white-space: nowrap;
        border-radius: 0.2em;
        font-size: 14px;
        color: #FFF;
        width: 100%;
        background-color: #4C69BA;
        background-image: linear-gradient(#4C69BA, #3B55A0);
        text-shadow: 0 -1px 0 #354C8C;
        cursor: pointer;
        &:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 100%;
            border-right: #364e92 1px solid;
            background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
        }
        &:focus {
            outline: none;
            background-color: #5B7BD5;
            background-image: linear-gradient(#5B7BD5, #4864B1);
        }
        &:hover {
            background-color: #5B7BD5;
            background-image: linear-gradient(#5B7BD5, #4864B1);
        }
        &:active {
            box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
        }
    }
    .authButton button.authButton__google {
        background: #DD4B39;
        &:before {
            border-right: #BB3F30 1px solid;
            background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
        }
        &:hover,
        &:focus {
            background: #E74B37;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}