@import "../../styles/vars.scss";
.homePage {
    height: 100%;
    background: #1D3557;
    .topNav {
        display: flex;
        justify-content: space-between;
        width: 980px;
        max-width: 90%;
        margin: 0 auto;
        padding-top: 10vh;
    }
    .bars {
        position: absolute;
        bottom: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        flex-wrap: wrap;
        h3 {
            color: #fff;
        }
    }
    .bar {
        margin: 0 30px;
        font-size: 17px;
        font-weight: 100;
        opacity: 0.4;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &:hover,
        &:focus,
        &--active {
            opacity: 1;
            outline: none;
            .bar__step {
                width: 100%;
            }
        }
        &--active {
            h3 {
                color: $secondary;
            }
        }
    }
    .bar__step {
        width: 20%;
        height: 2px;
        background: $secondary;
        margin-top: 3px;
        transition: all 0.3s ease-in;
    }
    .instructionStep {
        max-width: 980px;
        margin: 15vh auto;
        animation: fadeIn 0.5s linear;
        transition: all 0.5s;
        color: #fff;
        &--hide {
            opacity: 0;
        }
    }
    .loginBtn {
        width: 150px;
    }
}

.ant-modal.loginModal {
    width: 400px !important;
    max-width: 85%;
    .ant-modal-content {
        box-shadow: none;
    }
    .ant-alert {
        margin-bottom: 10px;
    }
    .ant-form-item {
        margin-bottom: 10px;
    }
    .ant-form-item-label {
        line-height: 20px;
    }
    .ant-tabs-nav {
        width: 100%;
        text-align: center;
    }
    .ant-tabs-tab {
        margin: 0 !important;
        width: 50%;
        padding: 15px 0;
    }
    .ant-modal-body {
        padding: 0;
    }
    .ant-modal-close {
        right: -25px;
        top: -25px;
        background: #fff;
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }
    span.ant-modal-close-x {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 20px;
        font-weight: bold;
    }
    .ant-form {
        padding: 10px 25px 0;
    }
    .authButton {
        display: flex;
        flex-direction: column;
        padding: 0 25px 25px;
    }
    .authButton button {
        position: relative;
        margin-bottom: 10px;
        padding: 0 15px 0 46px;
        border: none;
        text-align: left;
        line-height: 34px;
        white-space: nowrap;
        border-radius: 0.2em;
        font-size: 14px;
        color: #FFF;
        width: 100%;
        background-color: #4C69BA;
        background-image: linear-gradient(#4C69BA, #3B55A0);
        text-shadow: 0 -1px 0 #354C8C;
        cursor: pointer;
        &:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 100%;
            border-right: #364e92 1px solid;
            background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
        }
        &:focus {
            outline: none;
            background-color: #5B7BD5;
            background-image: linear-gradient(#5B7BD5, #4864B1);
        }
        &:hover {
            background-color: #5B7BD5;
            background-image: linear-gradient(#5B7BD5, #4864B1);
        }
        &:active {
            box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
        }
    }
    .authButton button.authButton__google {
        background: #DD4B39;
        &:before {
            border-right: #BB3F30 1px solid;
            background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
        }
        &:hover,
        &:focus {
            background: #E74B37;
        }
    }
    .forgot {
        padding-left: 25px;
        margin-bottom: 20px;
        margin-top: -5px;
        display: inline-block;
        font-size: 13px;
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.2s ease-in;
    }
    .forgot:hover {
        opacity: 1;
        text-decoration: underline;
    }
}

.hp {
    .ant-modal-mask {
        background: #fff;
    }
}

.container.resetPassword {
    padding-top: 50px;
    .explain {
        margin-bottom: 8px;
        font-weight: 500;
        opacity: 0.8;
    }
}

.mobile {
    .loginModal {
        margin: 0 auto;
        top: 30px;
        .ant-modal-close {
            right: 0;
            top: -15px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}