@import "../../styles/vars.scss";
.productView {
    width: 300px;
    min-width: 300px;
    height: 100%;
    border-left: 1px solid $bright_gray;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 20px;
    position: relative;
    background: #fff;
    animation: slidein 0.3s forwards;
    .product__close {
        cursor: pointer;
        user-select: none;
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 10;
        font-size: 9px;
        font-weight: 100;
        opacity: 0.5;
        background: #404040;
        color: #fff;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        text-align: center;
        line-height: 13px;
        transition: all 0.2s ease-in;
        &:hover {
            opacity: 1;
        }
    }
    .product__images {
        height: 300px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .product__title {
        margin: 20px 15px;
        font-size: 15px;
    }
    .product__spec {
        padding: 5px 15px;
    }
    .product__spec--content {
        font-weight: 300;
        margin-top: 3px;
    }
    .product__spec--buttons {
        display: flex;
        flex-direction: column;
        .ant-btn {
            margin-top: 15px;
            width: 100%;
        }
    }
    .btn_like {
        color: #fff;
        background: $coral_gradient;
    }
    .btn_dislike {
        color: #fff;
        background: $gray_gradient;
    }
}