@import "reset.scss";
@import "vars.scss";
body {
    width: 100%;
    height: 100%;
    font-family: $font;
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: $black;
    background-image: linear-gradient(135deg, #fff 0%, #eff1f5 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: $blue;
    outline: none;
    &:hover,
    &:visited {
        text-decoration: none;
    }
}

.ant-btn {
    min-width: 100px;
    min-height: 35px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    color: #fff;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 7px 0px rgba(255, 255, 255, 0.4);
    border: none;
    background-size: 1px 200px;
    transition: all 0.2s ease-in;
    padding: 0 20px;
    &:hover {
        background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
        color: #fff;
        background-position: 100%;
    }
    &:focus {
        color: #fff;
        background: #1093b1;
    }
}

#root,
.appContainer {
    height: 100%;
}

.container {
    height: 100%;
    width: 980px;
    max-width: 90%;
    margin: 0 auto;
}

.appContent {
    height: calc(100% - #{$headerHeight});
    display: flex;
}

.page {
    flex: 1;
    height: 100%;
}

.switch-wrapper {
    position: relative;
    width: 100%;
}

.switch-wrapper>div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.priceSeparate {
    margin: 0 10px;
    display: inline-block;
}

.error {
    line-height: 20px;
    color: #f5222d;
    font-size: 12px;
}

.ant-input,
.ant-select-selection,
.ant-input-number-input {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.1);
}

.ant-card {
    margin-bottom: 40px;
    overflow: hidden;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.ant-alert {
    color: rgba(255, 255, 255, 1);
    font-weight: 100;
    font-size: 13px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s linear;
}

.ant-alert-error {
    border: 1px solid #ffa39e;
    background: linear-gradient(#e07c78 0%, #e06b66 100%);
    border-color: #d43f3a;
}

.ant-form-item {
    margin-bottom: 15px;
    font-weight: 100;
}

.ant-form label {
    font-size: 13px;
}

.ant-form-item-label {
    line-height: 26px;
}

.ant-switch {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border: 1px solid #e8e7e7;
}

.ant-switch-checked {
    border: 1px solid #e6bdc6;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}