// Font
$font: 'Rubik',
sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 500;
// Colors
$gray: #ececee;
$bright_gray: #f1f4f6;
$dark_gray: #8e8f99;
$white: #fff;
$link: #247BA0;
$link_hover: rgb(43, 144, 187);
$black: #2c2c3d;
$red: #FF1654;
$primary: #1D3557;
$primary_dark: #14253D;
$primary_light: rgb(44, 79, 128);
$primary_hover: rgb(36, 58, 88);
$secondary: #fffc6c;
$secondary_dark: #b9b500;
$secondary_light: #6c6a00;
$secondary_hover: #fffb3e;
// Sizes
$headerHeight: 55px;
$sideBarWidth: 300px;