// Font
$font: 'Rubik',
sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 500;
// Colors
$bright_gray: #f1f4f6;
$blue_gray: #bfc1c9;
$gray: #ececee;
$white: #fff;
$black: #2c2c3d;
$dark_gray: #8e8f99;
$blue: #0070c9;
$green: #35c066;
$red: #f24343;
$yellow: #fcb515;
$pink: #cc3a82;
$coral: #ffa088;
$coral_gradient: linear-gradient(180deg, $blue 0%, #3bb7ff 100%);
$gray_gradient: linear-gradient(180deg, $dark_gray 0%, $blue_gray 100%);
$sidebar_gradient: linear-gradient(180deg, #f2f4f6 0%, #ffffff 100%);
$focus: #5cb3fd;
// Sizes
$headerHeight: 55px;
$sideBarWidth: 300px;