@import "../../styles/vars.scss";
a.logo {
    font-size: 30px;
    font-weight: bold;
    color: $white !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-style: italic;
    text-decoration: none;
    >img {
        width: 100%;
    }
}