.userProfile {
    span.ant-form-item-children>span {
        display: flex;
        flex-direction: column-reverse;
    }
    .ant-upload-list-picture .ant-upload-list-item,
    .ant-upload-list-picture-card .ant-upload-list-item {
        border: none;
    }
    .userProfile__social {
        .aws-btn {
            margin-top: 5px;
        }
        .aws-btn .aws-btn__content>span:nth-child(1) {
            display: flex;
            align-items: center;
        }
        .ant-form-item-children {
            display: flex;
            align-items: center;
        }
        .anticon {
            font-size: 19px;
            margin-right: 10px;
        }
    }
    i.anticon.anticon-close {
        right: auto;
        left: -10px;
        top: 0px;
        background: #32cefd;
        border-radius: 50%;
        color: #fff;
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ant-upload-list-picture .ant-upload-list-item-name,
    .ant-upload-list-picture-card .ant-upload-list-item-name {
        display: none;
    }
    .ant-upload-list-picture .ant-upload-list-item-thumbnail,
    .ant-upload-list-picture-card .ant-upload-list-item-thumbnail {
        border-radius: 50%;
        overflow: hidden;
    }
}