@import "../../styles/vars.scss";
.navbar {
    position: fixed;
    height: 44px;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid $gray;
    &__item {
        font-size: 17px;
        width: 20%;
        height: 100%;
        &:last-child {
            border-right: none;
        }
        .navba__itemLink {
            color: $dark_gray;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }
        &--active {
            .navba__itemLink {
                color: $primary;
            }
        }
    }
}