.container.contact {
    padding-top: 50px;
    .social {
        margin-top: 10px;
        font-size: 25px;
    }
    .social a {
        color: #797979;
        margin-right: 10px;
    }
    .social a:hover {
        color: #171717;
    }
}