@import "../../styles/vars.scss";
.browse {
    display: flex;
    height: calc(100% - 48px);
    overflow: hidden;
    flex: 1;
    .browse__filters {
        width: 280px;
        min-width: 280px;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        padding: 25px;
        background: linear-gradient(to right, $bright_gray, #fff);
        border-right: 1px solid $bright_gray;
    }
    .filters__cell {
        margin-bottom: 20px;
        .filter__label {
            font-size: 14px;
            padding-bottom: 5px;
            border-bottom: 1px solid $gray;
        }
    }
    .filter__content {
        margin: 10px 0;
    }
    .filter__content--sort {
        .ant-select {
            width: 100%;
        }
    }
    .filter__content--categories {
        border: 1px solid $gray;
        height: 150px;
        overflow: hidden;
        overflow-y: scroll;
        background: #fff;
        .filter__category {
            border-bottom: 1px solid $gray;
            transition: all 0.3s ease-in;
            cursor: pointer;
            &:hover {
                background: $gray;
            }
            .ant-checkbox-wrapper {
                font-size: 12px;
                width: 100%;
                padding: 5px 5px 5px 10px;
            }
        }
    }
    .filter__content--price {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .filters__cell--actions {
        margin: 15px 0;
        display: flex;
        flex-direction: row-reverse;
    }
    .filters__cell--actions button {
        font-size: 12px;
        padding: 0 15px;
        height: 28px;
        margin-left: 10px;
        width: 70px;
    }
}

.browse__products {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    padding-bottom: 40px;
    flex-wrap: wrap;
    width: 100%;
    &--noMessage {
        font-size: 24px;
        margin: 30px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.3);
    }
    &--loading {
        align-items: center;
        justify-content: center;
    }
    .productsList__product {
        width: 230px;
        height: 230px;
        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        margin: 40px 0 0 40px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: all 0.2s ease-in;
        &:hover {
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
            transform: scale(1.02);
        }
        .product__title {
            padding: 15px;
            font-size: 14px;
        }
        .product__description {
            padding: 0 15px;
            font-size: 12px;
            font-weight: $font-light;
            color: $dark_gray;
        }
        .product__image {
            width: 100%;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 10px;
        }
        &--liked,
        &--liked:hover {
            box-shadow: 0 0 20px 0 rgba(2, 204, 2, 0.2);
        }
        &--disliked,
        &--disliked:hover {
            box-shadow: 0 0 20px 0 rgba(255, 14, 14, 0.2);
        }
    }
}