.search {
    li.ant-menu-item {
        width: 50%;
        text-align: center;
    }
    &--noMessage {
        font-size: 24px;
        text-align: center;
        margin-top: 40px;
    }
    .ant-menu-horizontal {
        overflow: hidden;
    }
}